<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https:/thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>

<!-- <link rel="stylesheet"
	th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
	integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="jquery-3.6.0.min.js"></script>




</head>


<body>
	<!-- Faz uma verificação de usuário para direcionar a navbar correta: -->
	<div th:fragment="navGenerica">

		<div th:if="${ #authorization.expression('hasAuthority(''ADMIN'')')}">
			<div th:replace="auth/admin/admin-nav :: nav"></div>
		</div>
		<div
			th:unless="${ #authorization.expression('hasAuthority(''ADMIN'')')}">
			<div th:if="${ #authorization.expression('hasAuthority(''USER'')')}">
				<div th:replace="auth/user/user-nav :: nav"></div>
			</div>
		</div>

		<!-- Integrando o Thymeleaf com SpringSecurity -->
		<div sec:authorize="!isAuthenticated()">
			<!-- Se o usuario nao for autenticado: -->
			<div th:replace="fragments/publica-nav :: nav"></div>
		</div>
	</div>
</body>
<div class="rodape">
	<footer> Desenvolvido por Flavio Tatit - Academia Java
		UFN/ATOS </footer>
</div>
<br />
</html>