<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https:/thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/images/logo-fifa-qatar-2022.png">
<title>Admin -Lista de usuários</title>


<!-- Importando JQuery e Bootstrap: 

<link rel="stylesheet"
	th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
	integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="jquery-3.6.0.min.js"></script>

</head>
<body>
	<!-- <div th:insert="fragments/publica-nav :: nav"></div> -->
	<div th:replace="auth/auth-generica-nav :: navGenerica"></div>
	<div class="container">
		<div class="row">

			<div class="col">
				<h1>Lista de Usuários</h1>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>CPF</th>
							<th>Nascimento</th>
							<th>E-mail</th>
							<th>Status</th>
							<th>Papel usuário</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${usuarios.empty}">
							<td colspan="2">Sem usuários</td>
						</tr>
						<tr th:each="usuario : ${usuarios}">
							<td><span th:text="${usuario.nome}"> Nome </span></td>
							<td><span th:text="${usuario.cpf}"> Cpf </span></td>
							<td><span
								th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}">
									Nascimento </span></td>
							<td><span th:text="${usuario.email}"> E-mail </span></td>


							<!-- Coluna de indicação de status do usuário: -->
							<td><span th:text="${usuario.ativo} ? 'ATIVO' : 'NÃO ATIVO'">
									Ativo? </span></td>


							<!-- Coluna de indicação de papel do usuário: -->
							<td><th:block th:each="pp : ${usuario.papeis}">
									<span th:text="${pp.papel}"> Papel </span>
									<br />
								</th:block></td>


							<!-- Botao Apagar -->
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/usuario/admin/apagar/{id}(id=${usuario.id})}"
								th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
								onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
									Apagar </a></td>

							<!-- Editar -->
							<td><a class="btn btn-success btn-sm"
								th:href="@{/usuario/editar/{id}(id=${usuario.id})}"> Editar</a>
							</td>

							<!-- Listar -->
							<td><a class="btn btn-warning btn-sm"
								th:href="@{/usuario/editarPapel/{id}(id=${usuario.id})}">Papéis</a>
							</td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>


</body>

<div class="rodape">
	<footer> Desenvolvido por Flavio Tatit - Academia Java
		UFN/ATOS </footer>
</div>

</html>